<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Tata Housing</title>
    <link rel="stylesheet" href="/css/Bootstrap.css">
    <link rel="stylesheet" href="/scss/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/fonts/Avenir-Light.ttf">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    
</head>

<body>
    <%- include('Includes/Preloader.ejs') %>
        <%- include('Includes/Header.ejs') %>
            <%- include('Includes/FixedSection.ejs') %>
                <div class="container-fluid cp-banner-section about-banner">
                    <div class="container">
                        <div class="banner-content">
                            <h1 class="banner-head">About Us</h1>
                            <hr style="background-color:white;">
                        </div>
                    </div>
                </div>
                <div class="container-fluid cp-about">
                    <div class="row">
                        <div class="col-md-6 about-matter">
                            <h3 class="text-justify">
                                Tata Realty and Infrastructure Ltd
                            </h3>
                            <p class="text-justify">
                                <br />A 100 percent subsidiary of Tata Sons Pvt Ltd, founded by the great visionary Jamsetji Nusserwanji, was established in 2007. Tata Realty and Infrastructure Limited continues to build on this strong foundation and legacy of TATA. The Company is in the business of developing commercial real estate.<br />
                                <br />Intellion is the exclusive office spaces vertical of Tata Realty and Infrastructure Limited.
                                <br />
                                It is reimagining the workplace to deliver Smart, Secure, Sustainable and Social work environments that cater efficiently to the needs of fast-growing companies and the new age workforce that help increase efficiency, augment innovation and promote well-being. TATA Realty and Infrastructure Limited has an operational portfolio of 7.6 mn. sq. ft. It had developed and handed over ~9.4 mn. Sq. ft. of commercial projects and has ~13 mn. sq. ft. of projects under development & planning. The flagship project Ramanujan Intellion Park is the first campus in India to be recognized with the EDGE Zero Carbon certification by the International Finance Corporation (IFC). Additionally, TATA Realty has the largest commercial portfolio to be EDGE Certified.
                            </p>
                            <h5 class="text-justify">WE BUILD RESIDENCES FOR PEOPLE WHO TRULY APPRECIATE DESIGN - FROM
                                THE FIRST PRINCIPLES TO
                                THE LAST DETAIL
                            </h5>
                        </div>
                        <div class="col-md-6 about-slider">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="/images/pexels-vecislavas-popa-1571470.jpg" class="img-fluid">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/images/pexels-pixabay-534151.jpg" class="img-fluid">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/images/pexels-tamil-king-3214064.jpg" class="img-fluid">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/images/pexels-vecislavas-popa-1571463.jpg" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid about-slides">
                    <div class="swiper aboutSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/images/pexels-pixabay-534151.jpg" alt="" class="img-fluid">
                                <div class="content">
                                    <h5 class="text-center">We Have Good Infrastructure</h5>
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut itaque
                                        provident fugit odio corporis nam maiores, ad sequi odit animi temporibus
                                        error. Fuga iusto, temporibus rem odit asperiores aspernatur.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/pexels-tamil-king-3214064.jpg" alt="" class="img-fluid">
                                <div class="content">
                                    <h5 class="text-center">We Have Good Infrastructure</h5>
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut itaque
                                        provident fugit odio corporis nam maiores, ad sequi odit animi temporibus
                                        error. Fuga iusto, temporibus rem odit asperiores aspernatur.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/pexels-vecislavas-popa-1571463.jpg" alt="" class="img-fluid">
                                <div class="content">
                                    <h5 class="text-center">We Have Good Infrastructure</h5>
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut itaque
                                        provident fugit odio corporis nam maiores, ad sequi odit animi temporibus
                                        error. Fuga iusto, temporibus rem odit asperiores aspernatur.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/pexels-vecislavas-popa-1571470.jpg" alt="" class="img-fluid">
                                <div class="content">
                                    <h5 class="text-center">We Have Good Infrastructure</h5>
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut itaque
                                        provident fugit odio corporis nam maiores, ad sequi odit animi temporibus
                                        error. Fuga iusto, temporibus rem odit asperiores aspernatur.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/pexels-pixabay-534151.jpg" alt="" class="img-fluid">
                                <div class="content">
                                    <h5 class="text-center">We Have Good Infrastructure</h5>
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut itaque
                                        provident fugit odio corporis nam maiores, ad sequi odit animi temporibus
                                        error. Fuga iusto, temporibus rem odit asperiores aspernatur.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/pexels-tamil-king-3214064.jpg" alt="" class="img-fluid">
                                <div class="content">
                                    <h5 class="text-center">We Have Good Infrastructure</h5>
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut itaque
                                        provident fugit odio corporis nam maiores, ad sequi odit animi temporibus
                                        error. Fuga iusto, temporibus rem odit asperiores aspernatur.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/pexels-vecislavas-popa-1571463.jpg" alt="" class="img-fluid">
                                <div class="content">
                                    <h5 class="text-center">We Have Good Infrastructure</h5>
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut itaque
                                        provident fugit odio corporis nam maiores, ad sequi odit animi temporibus
                                        error. Fuga iusto, temporibus rem odit asperiores aspernatur.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/pexels-vecislavas-popa-1571470.jpg" alt="" class="img-fluid">
                                <div class="content">
                                    <h5 class="text-center">We Have Good Infrastructure</h5>
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut itaqueh
                                        provident fugit odio corporis nam maiores, ad sequi odit animi temporibus
                                        error. Fuga iusto, temporibus rem odit asperiores aspernatur.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination mt-4"></div>
                    </div>
                </div>

                <div class="container-fluid board-structure">
                    <center><h3>TATA REALTY AND INFRASTRUCTURE LIMITED</h3></center>
                    <br/>
                    <div class="row board-structure-director">
                        <div class="director-div">
                            <img src="https://media.tatarealty.in/board-of-directors/July2021/WK78EfXYviMaFGCSkjTe.webp" alt="">
                            <br/><br/>
                            <h5>MR. SANJAY DUTT</h5>
                            <h6>Managing Director & Chief Executive Officer [CEO]</h6>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row teams">
                            <div class="col-md-4 team">
                                <img src="https://media.tatarealty.in/board-of-directors/March2020/GcJj6feMuuvZHnRFgw6r.webp" alt="">
                                <br/><br/>
                                <h5>MR. BANMALI AGRAWALA</h5>
                                <h6>Chairman</h6>
                            </div>
                            <div class="col-md-4 team">
                                <img src="https://media.tatarealty.in/board-of-directors/February2021/9PyOY3aHiho7XfZ4WesF.webp" alt="">
                                <br/><br/>
                                <h5>MRS. SANDHYA KUDTARKAR</h5>
                                <h6>Independent Director</h6>
                            </div>
                            <div class="col-md-4 team">
                                <img src="https://media.tatarealty.in/board-of-directors/October2021/BzqE8qagqagFCzH3fA0C.webp" alt="">
                                <br/><br/>
                                <h5>MR. PRABHAKAR PANDA</h5>
                                <h6>Independent Director</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('Includes/Footer.ejs') %>
                    <%- include('Includes/UserAuth.ejs') %>

                        <script src="/js/Jquery.js" type="text/javascript"></script>
                        <script src="/js/Bootstrap.js" type="text/javascript"></script>
                        <script src="/CustomJS/Custom.js" type="text/javascript"></script>
                        <script src="/CustomJS/Auth.js" type="text/javascript"></script>
                        <script src="/CustomJS/Landing.js" type="text/javascript"></script>
                        <!-- Swiper JS -->
                        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

                        <!-- Initialize Swiper -->
                        <script>
                            // about-slider
                            var swiper = new Swiper(".mySwiper", {
                                effect: "cards",
                                grabCursor: true,
                                autoplay: true,
                                loop: true
                            });
                            // about-slides
                            var swiper = new Swiper(".aboutSwiper", {
                                slidesPerView: 1,
                                loop: true,
                                slidesPerGroupSkip: 1,
                                grabCursor: true,
                                autoplay: true,
                                keyboard: {
                                    enabled: true,
                                },
                                pagination: {
                                    el: ".swiper-pagination",
                                    clickable: true,
                                },
                                breakpoints: {
                                    769: {
                                        slidesPerView: 3,
                                        slidesPerGroup: 3,
                                        spaceBetween: 30,
                                    },
                                },
                            });
                        </script>
</body>

</html>