<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home |   Tata Housing</title>
  <link rel="manifest" href="/manifest.json" />
  <link rel="stylesheet" href="/css/Bootstrap.css" />
  <link rel="stylesheet" href="/scss/global.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/fonts/Avenir-Light.ttf" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
  <%- include('Includes/Preloader.ejs') %>
  <%- include('Includes/Header.ejs') %>
  <%- include('Includes/FixedSection.ejs') %>

    <div class="container-fluid cp-banner">
      <div class="video-banner show">
        <!-- <video id="myVideo" src="/files/bg.mp4" autoplay="true" type="video/mp4" muted="true" loop="false"></video> -->
      </div>
      <div class="container">
        <div class="banner-content">
          <!-- <h1 class="banner-head">
            Lets Start <span class="sub-head">Something Big</span>
            <span class="sub-head-sec">With Us.</span>
          </h1> -->
          <div class="act-btn">
            <button type="button" class="btn first">Get Started</button>
            <!-- <button type="button" class="btn sec">
              <img data-pause="/images/pause.png" data-play="/images/play.png" class="play-pause-btn" src="" />
              <span id="current"></span>
            </button> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid cp-swiper">
      
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider-box">
                <img src="/images/hand-mobile.jpg" />
                <div class="slider-content">
                  <h5>Let's Connect Through WhatsApp</h5>
                  <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-box">
                <img src="/images/hotel-room.jpg" />
                <div class="slider-content">
                  <h5>Comfortable Rooms</h5>
                  <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-box">
                <img src="/images/pexels-tamil-king-3214064.jpg" />
                <div class="slider-content">
                  <h5>Awesoe Interior</h5>
                  <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-box">
                <img src="/images/building2.jpg" />
                <div class="slider-content">
                  <h5>Solid Construction</h5>
                  <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      
    </div>

    <div class="container-fluid cp-swiper-section resident">
      <div class="container">
        <div class="row cp-block-section">
          <div class="col-lg-12">
            <h4>Residents</h4>
            <div class="row card-section">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="col-lg-12">
                      <div class="swiper-card">
                        <img src="/images/icons/group.png" class="img-fluid" alt="" />
                        <h5>Visitor Management</h5>
                        <p>Customer Focus</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="col-lg-12">
                      <div class="swiper-card">
                        <img src="/images/icons/logistics.png" class="img-fluid" alt="" />
                        <h5>Delivery Management</h5>
                        <p>Delivering Promises</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="col-lg-12">
                      <div class="swiper-card">
                        <img src="/images/icons/planning.png" class="img-fluid" alt="" />
                        <h5>Daily Help Management</h5>
                        <p>Help in Every Situation</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="col-lg-12">
                      <div class="swiper-card">
                        <img src="/images/icons/safety.png" class="img-fluid" alt="" />
                        <h5>Child Security</h5>
                        <p>Security is Most Important</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid cp-block">
      <div class="container">
        <h3>
          Tata Realty For Everyone
        </h3>
        <hr />
        <br />
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum
          voluptatum possimus ad voluptates, error, est amet perferendis aliquam
          ratione in porro. Aspernatur quo molestiae odio dolor est autem sit
          laborum!
        </p>
        <div class="row cp-block-content">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <img src="/images/icons/apartment.png" class="img-fluid" alt="" />
                    <h5 class="card-title">
                      3.34 <br />
                      MILLION SQ. M UNDER DEVELOPMENT
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <img src="/images/icons/crm.png" class="img-fluid" alt="" />
                    <h5 class="card-title">
                      21,620 + <br />
                      Customers
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <img src="/images/icons/location.png" class="img-fluid" alt="" />
                    <h5 class="card-title">
                      15 + <br />
                      Cities
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid cp-swiper-section Committee">
      <div class="container">
        <div class="row cp-block-section">
          <div class="col-lg-12">
            <h4>Committee Members</h4>
            <div class="row card-section">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="col-lg-12">
                      <div class="swiper-card">
                        <img src="/images/icons/customer-managment.png" class="img-fluid" alt="" />
                        <h5>Accounting Toolkit</h5>
                        <p>No worry about Accounting</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="col-lg-12">
                      <div class="swiper-card">
                        <img src="/images/icons/event.png" class="img-fluid" alt="" />
                        <h5>Daily Staff Attendance</h5>
                        <p>Staff is available always</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="col-lg-12">
                      <div class="swiper-card">
                        <img src="/images/icons/account.png" class="img-fluid" alt="" />
                        <h5>Complaint Management</h5>
                        <p>We Listen to you</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="col-lg-12">
                      <div class="swiper-card">
                        <img src="/images/icons/conversation.png" class="img-fluid" alt="" />
                        <h5>Communications</h5>
                        <p>Communication is best</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid cp-communities">
      <div class="container">
        <h3 class="text-justify">Our Community</h3>
        <p>RESIDENTIAL COMMUNITIES IN India</p>

        <div class="community-box box-1">
          <div class="box-content">
            <h4>EUREKA PROPERTY</h4>
            <p>View Property</p>
          </div>
        </div>

        <div class="community-box box-2">
          <div class="box-content">
            <h4>LA VIDA</h4>
            <p>View Property</p>
          </div>
        </div>
      </div>
    </div>

    <%- include('Includes/Float.ejs') %>
      <%- include('Includes/Footer.ejs') %>
        <%- include('Includes/UserAuth.ejs') %>

          <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

          <script>
            var swiper = new Swiper(".mySwiper", {
              slidesPerView: 1,
              centeredSlides: false,
              slidesPerGroupSkip: 1,
              grabCursor: true,
              autoplay: true,
              loop: true,
              keyboard: {
                enabled: true,
              },
              breakpoints: {
                769: {
                  slidesPerView: 3,
                  slidesPerGroup: 3,
                  spaceBetween: 30,
                },
              },
              scrollbar: {
                el: ".swiper-scrollbar",
              },
              navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
              },
              pagination: {
                el: ".swiper-pagination",
                clickable: true,
              },
            });
          </script>
          <script src="/js/Jquery.js" type="text/javascript"></script>
          <script src="/CustomJS/main.js" type="text/javascript"></script>
          <script src="/js/Bootstrap.js" type="text/javascript"></script>
          <script src="/CustomJS/Landing.js" type="text/javascript"></script>
          <script src="/CustomJS/Auth.js" type="text/javascript"></script>
          <script src="/CustomJS/Custom.js" type="text/javascript"></script>
</body>

</html>